@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;


@model DeweyDecimalApp.Models.HighScoreModel

@{
    ViewData["Title"] = "Finding Call Numbers";
}


@section Scripts{
    <!--JQUERY Libraries for easy DOM Manipulation-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
}

@section AddToHead{
    <link href="@Url.Content("~/RTCSS/tgame.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/RTJS/TreeGame.js")"></script>
}

@{
    //getting our base URL for use in JavaScript.

    var request = HttpContextAccessor.HttpContext.Request;
    var host = request.Host.ToUriComponent();
    var pathBase = request.PathBase.ToUriComponent();
    string link = $"{request.Scheme}://{host}{pathBase}";
}

<h1 class="biggun page-title">Finding Call Numbers 📚</h1>

<div id="instructions">
    <h1 class="biggun">Instructions</h1>
    <h3 class="biggun">Test your Call Number Knowledge!</h3>
    <p class="biggun">Click a card that matches the book topic at the top of the screen. Keep going until you reach the book's call number!</p>
    <br />
    <p class="biggun">You earn points based on how quickly you pass a level as well as how many levels you pass. Have Fun! :)</p>
    <br />
    <button class="btn pink biggun btn-mdb cw" style="font-size: 16px;" id="start_game_button" onclick="start_game()">Start Game</button>
</div>


<div id="game_container">
    <h1 id="Answer" class="biggun"></h1>

    <div id="game_stage">
        <div id="l1Row" class="game_card_row"></div>
        <br />
        <div id="l2Row" class="game_card_row"></div>
        <br />
        <div id="l3Row" class="game_card_row"></div>
    </div>

    <div id="game_over_success">
        <div>
            <!--Header-->
            <h5 class="biggun upsize tac" style="padding: 15px; font-size:48px">Nice One :)</h5>
            <p id="score_go_pass" class="biggun tac" style="padding: 15px; font-size:32px">Your Score is : <span></span></p>
            <p id="streak_go_pass" class="biggun tac" style="padding: 15px; font-size:24px">Your Current Streak is : <span></span></p>

            <!--Score Submission Form-->
            <div id="score_submit" class="score">
                <form asp-action="SaveScore" style="display:flex; justify-content: center">
                    <div style="width: 90%">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label biggun" style="font-size: 16px;"></label>
                            <input asp-for="Name" class="form-control biggun" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="Score" class="control-label"></label>
                            <input asp-for="Score" id="frm_score" class="form-control" />
                            <span asp-validation-for="Score" class="text-danger"></span>
                        </div>
                        <div style="display:flex; justify-content: center; align-content:center; flex-direction: column">
                            <div style="width: 100%"><p>Saving your score ends your current run!</p></div>
                            <div class="form-group">
                                <input type="submit" value="Save My Score" class="btn pink biggun btn-block cw" style="font-size: 16px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Footer-->
            <div style="display:flex; justify-content: center">
                <a id="start_game_button" role="button" onclick="start_game()" class="btn pink biggun btn-mdb cw btw">Next Level</a>
                <a asp-controller="Home" asp-action="Index" class="btn pink biggun btn-mdb cw btw">Back To Home 🏠</a>
            </div>
        </div>
    </div>

    <div id="game_over_fail">
        <div>
            <!--Header-->
            <h5 class="biggun upsize tac" style="padding: 15px; font-size:48px">Bad Luck!</h5>
            <p id="score_go_fail" class="biggun tac" style="padding: 15px; font-size:32px">Your Score is : <span>0</span></p>
            <p id="streak_go_fail" class="biggun tac" style="padding: 15px; font-size:24px">Your Current Streak is : <span>0</span></p>
            
            <!--Score Submission Form-->
            <div id="score_submit_fail" class="score">
                <form asp-action="SaveScore" style="display:flex; justify-content: center">
                    <div style="width: 90%">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label biggun" style="font-size: 16px;"></label>
                            <input asp-for="Name" class="form-control biggun" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="Score" class="control-label"></label>
                            <input asp-for="Score" id="frm_score_fail" class="form-control" />
                            <span asp-validation-for="Score" class="text-danger"></span>
                        </div>
                        <div style="display:flex; justify-content: center">
                            <div class="form-group">
                                <input type="submit" value="Save My Score" class="btn pink biggun btn-block cw" style="font-size: 16px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <!--Buttons to return or start new game-->
            <div style="display:flex; justify-content: center">
                <a id="start_game_button" role="button" onclick="start_game()" class="btn pink biggun btn-mdb cw btw">Retry</a>
                <a asp-controller="Home" asp-action="Index" class="btn pink biggun btn-mdb cw btw">Back To Home 🏠</a>
            </div>
        </div>
    </div>

</div>


<div id="info">
    <h3 style="margin:0px;" class="biggun" id="countdown">Time Left: <span></span></h3>
    <h3 style="margin:0px;" class="biggun" id="streak_info">Current Streak: <span>0</span></h3>
    <h3 style="margin:0px;" class="biggun" id="score_info">Score: <span>0</span></h3>
</div>

<div style="display:flex; justify-content: center">
    <a asp-controller="Home" asp-action="Index" class="btn pink biggun btn-mdb cw btw">Back To Home 🏠</a>
</div>


<script type="text/javascript">
    setBaseURL("@link");
    hideStuff();
</script>