body {
    background-color: #90CAF9
}

#instructions {
    margin: 30px;
    background-color: #64FFDA;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.75);
    align-content: center;
    justify-content: center;
    border: solid 3px white;
    border-radius: 20px;
}

#info {
    display: flex;
    text-align: center;
    align-content: stretch;
    background-color: #64FFDA;
    justify-content: space-evenly;
    border: solid 3px white;
    border-radius: 20px;
    box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.75);
    align-items: stretch;
    margin: 30px;
    padding: 30px;
}

#dewey_decimal_game_container {
    margin-top: 30px;
    height: fit-content();
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #424242;
    padding: 10px;
    border-radius : 20px;
}

#dewey_decimal_game_stage {
    padding-left: 15px;
}

    #dewey_decimal_game_stage.game_over {
        opacity: 0.5;
    }

    #dewey_decimal_game_stage ul {
        margin: 0px;
        padding: 0px;
        display: inline;
    }

        #dewey_decimal_game_stage ul li {
            list-style: none;
            margin: 0px;
            padding: 0px;
            float: left;
        }

.book {
    width: 122px;
    height: 465px;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -15px;
    cursor: pointer;
    color: white;
    background-color: yellow;
}

.book:hover:active {
    transform: scale(1, 1.1);
}

.book_placeholder {
    width: 120px;
    height: 465px;
    /*background-color: orange;*/
    background-image:url("../images/bg-placeholder.png");
    border: 1px solid #ffcc00;
    margin-left: -15px !important;
}


.book.red1 {
    background-color: rgba(0,0,0, 0);
    background-image: url("../images/spine-red-1.png");
}

.book.blue1 {
    background-color: rgba(0,0,0, 0);
    background-image: url("../images/spine-blue-2.png");
}

.book.green1 {
    background-color: rgba(0,0,0, 0);
    background-image: url("../images/spine-green.png");
}

.book.black1 {
    background-color: rgba(0,0,0, 0);
    background-image: url("../images/spine-blue-1.png");
}

.book.orange1 {
    background-color: rgba(0,0,0, 0);
    background-image: url("../images/spine-orange.png");
}


/*book titles on the spine*/
.book .spine_text {
    position: absolute;
    height: 50px;
    width: 350px;
    left: -135px;
    top: 190px;
    color: white;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

    /*bold font modifier*/
    .book .spine_text, .book .spine_text strong {
        color: #FFF !important;
    }

        /*font size modifier*/
        .book .spine_text em {
            font-size: 80%;
        }

.book .spine_shelfmark {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 65px;
    height: 65px;
    background-color: white;
    text-align: center;
    font-size: 13px;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    border-color: aqua;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    color: #000000;
    box-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

    .book .spine_shelfmark.hidden {
        text-indent: -30000px;
        color: transparent;
    }

#game_over_success,
#game_over_fail {
    width: 750px;
    height: inherit;
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
}

#game_over_success {

    backdrop-filter: blur(5px);
}

#game_over_fail {

    backdrop-filter: blur(5px);
}
