#dewey_decimal_game_container {
    margin-top: 30px;
    height: 560px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content : center;

}

#dewey_decimal_game_stage {
    padding-left: 15px;
}

    #dewey_decimal_game_stage.game_over {
        opacity: 0.5;
    }

    #dewey_decimal_game_stage ul {
        margin: 0px;
        padding: 0px;
        display: inline;
    }

        #dewey_decimal_game_stage ul li {
            list-style: none;
            margin: 0px;
            padding: 0px;
            float: left;
        }

.book {
    width: 122px;
    height: 465px;
    background-repeat: no-repeat;
    position: relative;
    margin-left: -15px;
    cursor: pointer;
    color: white;
}

.book_placeholder {
    width: 120px;
    height: 465px;
    background-color: orange;
    /*background-image:url("../images/bg-placeholder.png");*/
    border: 1px solid #ffcc00;
    margin-left: -15px !important;
}


.book.red {
    background-image: url("../images/spine-red.png");
}

.book.blue {
    background-image: url("../images/spine-blue.png");
}

.book.green {
    background-image: url("../images/spine-green.png");
}

.book.black {
    background-image: url("../images/spine-black.png");
}

.book.orange {
    background-image: url("../images/spine-orange.png");
}


/*book titles on the spine*/
.book .spine_text {
    position: absolute;
    height: 50px;
    width: 350px;
    left: -135px;
    top: 190px;
    color: white;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

    /*bold font modifier*/
    .book .spine_text, .book .spine_text strong {
        color: #FFF !important;
    }

        /*font size modifier*/
        .book .spine_text em {
            font-size: 80%;
        }

.book .spine_shelfmark {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 65px;
    height: 65px;
    background-color: white;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    border-color: aqua;
    color: #000000;
    box-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

    .book .spine_shelfmark.hidden {
        text-indent: -30000px;
        color: transparent;
    }

#game_over_success,
#game_over_fail {
    width: 750px;
    height: inherit;
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
}

#game_over_success {

    backdrop-filter: blur(5px);
}

#game_over_fail {

    backdrop-filter: blur(5px);
}
