body {
    background-color: #90CAF9
}

#instructions {
    margin: 30px;
    background-color: #64FFDA;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.75);
    align-content: center;
    justify-content: center;
    border: solid 3px white;
    border-radius: 20px;
}

#info {
    display: flex;
    text-align: center;
    align-content: stretch;
    background-color: #64FFDA;
    justify-content: space-evenly;
    border: solid 3px white;
    border-radius: 20px;
    box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.75);
    align-items: stretch;
    margin: 30px;
    padding: 30px;
}

.card {
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    transition: transform .3s ease-out;
    cursor: pointer;
}

.card:hover {
    transform: translate(0, 5px);
}

.card p{
    user-select: none;
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
}

.highlighted {
    background-color: #e91e63;
}

#QuestionRow, #AnswerRow{
    max-height: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#game_stage {
    display: grid;
    grid-template-columns: 33% auto 33%;
    height: 500px;
    width: 100%;
}

#game_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content:center;
    align-items:center;
}

#game_stage.game_over {
    opacity: 0.5;
}

#game_over_success,
#game_over_fail {
    width: 750px;
    display: none;
    cursor: pointer;
    position: absolute;
    border-radius: 20px;
    box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.75);
}

#game_over_success {
    background-color: white;
    height: 600px;
    bottom: 25px;
}

#game_over_fail {
    background-color: white;
    height: 500px;
    bottom: 50px;
}