@using Microsoft.AspNetCore.Http;
@using System.Text;
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Home Page";
}

@model DeweyDecimalApp.Models.HighScoreModel


@section Scripts{
    <!--JQUERY Libraries for easy DOM Manipulation-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
}

@section AddToHead{
    <link href="@Url.Content("~/RTCSS/ddgame.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/RTJS/test.js")"></script>
    
}

@{
    var request = HttpContextAccessor.HttpContext.Request;
    var host = request.Host.ToUriComponent();
    var pathBase = request.PathBase.ToUriComponent();
    string link = $"{request.Scheme}://{host}{pathBase}";
}

<h1 class="biggun page-title" >Replacing Books 📚</h1>

<div id="instructions">
    <h1>Instructions</h1>
    <h3>Use your mouse to rearrange the books in ascending order according to the Dewey Decimal System</h3>
    <p>You earn points based on how quickly you pass a level as well as how many levels you pass. Have Fun! :)</p>
    <br />
    <button class="btn pink" style="color: white; border-radius:1.5rem" id="start_game_button" onclick="start_game()">Start Game</button>
</div>

<div style="clear:both;"></div>

<div class="clear_fix"></div>

<div id="dewey_decimal_game_container">
    <div id="dewey_decimal_game_stage"></div>

    <div id="game_over_success" class="card" style="height: 350px">
        <div class="card-body">
            <h5 class="card-title">Nice One :)</h5>
            <p id="score" class="card-text">Your Score is : <span></span></p>
            <p id="streak" class="card-text">Your Current Streak is : <span></span></p>
            <a id="start_game_button" role="button" onclick="start_game()" class="btn btn-primary">Next Level</a>
        </div>
    </div>

    <div id="game_over_fail" class="card">
        <div class="card-body">
            <h5 class="card-title">Bad luck!</h5>
            <p id="score" class="card-text">
                Your Score is : <span></span>
            </p>
            <div id="score_submit">
                <form asp-action="SaveScore">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Score" class="control-label"></label>
                        <input asp-for="Score" id="frm_score" class="form-control" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <a id="start_game_buttob" role="button" onclick="start_game()" class="btn btn-primary">Try Again</a>
        </div>
    </div>
</div>

<div id="info">
    <h3 id="countdown">Time Left: <span></span></h3>
    <h3 id="streak">Current Streak: <span>0</span></h3>
    <h3 id="score">Score: <span>0</span></h3>
</div>


<script type="text/javascript">
    setBaseURL("@link");
    hideStuff();
</script>