@using Microsoft.AspNetCore.Http;
@using System.Text;
@using System.Text.Json;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Home Page";
}


@section Scripts{
    <!--JQUERY Libraries for easy DOM Manipulation-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
}

@section AddToHead{
    <link href="@Url.Content("~/RTCSS/ddgame.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/RTJS/test.js")"></script>
}

@{
    var request = HttpContextAccessor.HttpContext.Request;
    var host = request.Host.ToUriComponent();
    var pathBase = request.PathBase.ToUriComponent();
    string link = $"{request.Scheme}://{host}{pathBase}";
}

<div style="clear:both;"></div>

<div id="countdown"><span></span></div>
<div id="score"><span></span></div>
<div id="level"><span></span></div>

<button id="start_game_button" onclick="start_game()">Start Game</button>

<div class="clear_fix"></div>

<div id="dewey_decimal_game_container">
    <div id="dewey_decimal_game_stage"></div>
    <div id="game_over_success"></div>
    <div id="game_over_fail"></div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@link</p>
    <div id="_booklist"></div>
    <br />
    <div id="_shuffle"></div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type="text/javascript">
    setBaseURL("@link");
</script>