@{
    ViewData["Title"] = "Replacing Books 📚";
}

<style>
    body {
        background-color: #90CAF9
    }
</style>

<h1 class="biggun page-title">Library Love ❤</h1>

<!-- Card deck -->
<div class="card-deck">

    <!-- Card REPLACING BOOKS -->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/rep-books.png"
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Replacing Books</h4>
            <!--Text-->
            <p class="card-text">
                Learn to sort books using the Dewey Decimal System!
            </p>

            <a asp-action="DeweyDecimalGame" class="btn pink biggun btn-block cw" style="font-size: 16px;margin: 8px 0px 8px 0px;" role="button">Play Game</a>
            <a asp-action="HighScores" class="btn pink biggun btn-block cw" style="font-size: 16px;margin: 0px;" role="button">High Scores</a>

        </div>

    </div>
    <!-- Card REPLACING BOOKS -->
    <!-- Card IDENTIFYING AREAS-->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/wip.png"
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Identifying Areas</h4>
            <!--Text-->
            <p class="card-text">
                Coming Soon!
            </p>

        </div>

    </div>
    <!-- Card IDENTIFYING AREAS -->
    <!-- Card FINDING CALL NUMBERS-->
    <div class="card mb-4">

        <!--Card image-->
        <div class="view overlay">
            <img class="card-img-top" src="~/images/wip.png"
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">

            <!--Title-->
            <h4 class="card-title">Finding Call Numbers</h4>
            <!--Text-->
            <p class="card-text">
                Coming Soon!
            </p>

        </div>

    </div>
    <!-- Card -->

</div>
<!-- Card deck -->
